.maindashboard
{
    /* border:1px solid red; */
    width:80%;
    height:93vh;
    background-color:#F2F4F6;
    overflow:auto;
    display: flex;
    position: relative;
    flex-direction:column;
    top:7vh;



}

@media only screen and (max-width:500px) {
    /* For tablets: */

  }